header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	color: #3F059B;
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-align-items: center;
	        align-items: center;
	z-index: 5;
}
header h4 {
	font-size: 30px;
	font-weight: 500;
	line-height: 1;
	left: 45px;
	position: absolute;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	    -ms-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transition-delay: 0;
	   -moz-transition-delay: 0;
	    -ms-transition-delay: 0;
	     -o-transition-delay: 0;
	        transition-delay: 0;
}
header ul {
	position: absolute;
	right: 0;
}
header ul a {
	font-size: 1em;
	padding: 52px;
	-webkit-transition-duration: .4s;
	   -moz-transition-duration: .4s;
	    -ms-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
}
header ul a:hover {
	background: rgba(252,79,205,1);
	color: white;
}

@media screen and (max-width: 850px) {
	header ul {
		opacity: 0;
	}
}