:root {
	--col: 100px;
	--gut: 20px;
	--width: calc( (12 * var(--col)) + (11 * var(--gut)) );
	--out: calc((100vw - var(--width)) / 2);
}
@media screen and (max-width: 1700px) {
	:root {
		--col: 90px;
	}
}
* {
	margin: 0;
	padding: 0;
	-webkit-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
		--col: 100px;
}
html {
	max-width: 100%;
	font-size: 16px;
	overflow-x: hidden;
}
body {
	max-width: 100%;
	overflow-x: hidden;
}
h1 {
	font-family: 'Gt Esti Display';
	font-size: 4em;
	font-weight: 400;
	line-height: 1;
}
h2 {
	font-family: 'Gt Esti Display';
	font-size: 3.1em;
	font-weight: 400;
	line-height: 1;
}
p {
	font-family: 'Gt Esti Text';
	font-size: 1.2em;
	font-weight: 300;
	line-height: 2;
}
a {
	font-family: 'Gt Esti Text';
	text-decoration: none;
	list-style: none;
	font-size: 1.2em;
	font-weight: 300;
}
.button {
	color: white;
	display: inline-block !important;
	padding: 20px 30px;
	background: #FF1A1A;
	-webkit-border-radius: 7px;
	        border-radius: 7px;
}

.lander {
	height: 100vh;
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	background: #070014;
	color: white;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: flex-end;
	        align-items: flex-end;
}
.lander .circles {
	width: calc( (5 * var(--col)) + (4 * var(--gut)) );
}
.lander .circles .circle1 {
	width: 30vw;
	height: 30vw;
	background: linear-gradient(141deg, #070014, #5900FF);
	-webkit-border-radius: 15vw;
	        border-radius: 15vw;
	position: absolute;
}
.lander .circles .circle2 {
	width: 15vw;
	height: 15vw;
	background: linear-gradient(to top right, #CB1F1F, #FFDB4A);
	-webkit-border-radius: 7.5vw;
	        border-radius: 7.5vw;
	position: absolute;
	left: 50px;
}
.lander .circles .circle3 {
	width: 10vw;
	height: 10vw;
	background: linear-gradient(231deg, #CB1F1F, #5900FF);
	-webkit-border-radius: 5vw;
	        border-radius: 5vw;
	position: absolute;
}
.lander .text {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	width: calc( (7 * var(--col)) + (6 * var(--gut)) );
	margin-right: var(--out);
	margin-bottom: 100px;
}
.lander .text h1 {
	margin-bottom: 25px;
}
.lander .text p {
	margin-bottom: 35px;
}

.curve {
	position: absolute;
	width: 100vw;
}